<h1>Ink and Spindle Inventory</h1>

<table id="rolls">
  <thead>
    <td width="500">Roll</td>
    <td width="80">Metres</td>
    <td width="80">Used</td>
    <td width="80">Remains</td>
  </thead>
  <tbody>
    <tr>
      <td>Unbleached Organic Cotton/Hemp</td>
      <td class="numeric">50</td>
      <td class="numeric">35.0</td>
      <td class="numeric">15.0</td>
    </tr>
    <tr class="order-table-container">
      <td colspan="4">
        <table class="orders">
          <thead>
            <tr>
              <td width="40"></td>
              <td width="40"></td>
              <td width="40"></td>
              <td width="440"></td>
              <td width="80"></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Birch in Robins Egg</td>
              <td class="numeric">10.0</td>
            </tr>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Grevillea in Mustard and Greylead</td>
              <td class="numeric">5.0</td>
            </tr>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Wrens in Inky Blue</td>
              <td class="numeric">7.5</td>
            </tr>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Silver Gum in Inky Blue and Greylead</td>
              <td class="numeric">12.5</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>Cream Organic Cotton/Hemp 200GSM</td>
      <td class="numeric">40</td>
      <td class="numeric">25.0</td>
      <td class="numeric">15.0</td>
    </tr>
    <tr class="order-table-container">
    </tr>
    <tr>
      <td>Flax 100% Linen</td>
      <td class="numeric">10</td>
      <td class="numeric">5.0</td>
      <td class="numeric">5.0</td>
    </tr>
    <tr class="order-table-container">
    </tr>
    <tr>
      <td>Oatmeal 100% Linen</td>
      <td class="numeric">10</td>
      <td class="numeric">5.0</td>
      <td class="numeric">5.0</td>
    </tr>
    <tr class="order-table-container">
    </tr>
    <tr>
      <td>Mookah's Linen</td>
      <td class="numeric">5</td>
      <td class="numeric">0.0</td>
      <td class="numeric">5.0</td>
    </tr>
    <tr class="order-table-container">
    </tr>
    <tr>
      <td>Olivia's Linen</td>
      <td class="numeric">20</td>
      <td class="numeric">10.0</td>
      <td class="numeric">10.0</td>
    </tr>
    <tr class="order-table-container">
    </tr>
    <tr>
      <td>Charcoal Canvas</td>
      <td class="numeric">4</td>
      <td class="numeric">0.0</td>
      <td class="numeric">4.0</td>
    </tr>
    <tr class="order-table-container">
    </tr>
  </tbody>
</table>
