        <table class="orders">
          <thead>
            <tr>
              <td width="40"></td>
              <td width="40"></td>
              <td width="40"></td>
              <td width="440"></td>
              <td width="80"></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Birch in Robins Egg</td>
              <td class="numeric">10.0</td>
            </tr>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Grevillea in Mustard and Greylead</td>
              <td class="numeric">5.0</td>
            </tr>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Wrens in Inky Blue</td>
              <td class="numeric">7.5</td>
            </tr>
            <tr>
              <td class="actions"><a href="#">[x]</a></td>
              <td class="actions"><a href="#">edit</a></td>
              <td class="printed"><input type="checkbox"></input></td>
              <td>Silver Gum in Inky Blue and Greylead</td>
              <td class="numeric">12.5</td>
            </tr>
          </tbody>
        </table>
