// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.spinner
{
  position: relative;
  height: 200px;

  img
  {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    display: block;
  }
}

table
{
  td.numeric
  {
    text-align: right;
  }

  tr.order-table-container
  {
    display: none;
  }

  .orders
  {
    thead tr td
    {
      line-height: 0;
      padding: 0;
    }

    td.actions
    {
      font-size: 0.75em;
    }

    td.printed
    {
      text-align: center;

      input
      {
        margin-bottom: 0;
      }
    }
  }
}
