          <td class="numeric variable onshelf"><%= number_with_precision(roll.onshelf, precision: 1) %></td>
          <td class="numeric variable allocated"><%= number_with_precision(roll.allocated, precision: 1) %></td>
          <td class="numeric variable available"><%= number_with_precision(roll.available, precision: 1) %></td>
