          <td class="numeric variable onshelf"><%= roll.length ? number_with_precision(roll.onshelf, precision: 1) : '' %></td>
          <td class="numeric variable allocated"><%= roll.length ? number_with_precision(roll.allocated, precision: 1) : '' %></td>
          <td class="numeric variable available"><%= roll.length ? number_with_precision(roll.available, precision: 1) : '' %></td>
